*{
    margin: 1px;
    padding: 1px;;
    box-sizing: border-box;
}

body{
    font-family:"Roboto", sans-serif;

}

div #beat-app {
height: 100vh;
display: flex;
flex-flow: wrap;
flex-direction: column;
justify-content: space-between;
align-items: center;

}



header h1 {

  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 50px;

}
header p {

    font-size: 20px;
    text-align: center;
}

.visuals {

    font-size: 25px;
    text-align:center;
    justify-content: center; 
    
}

.pads {

    background-color:azure;
    width: 100%;
    display: flex;
    float: right;
}

.pads > div {

    height:100px;
    width: 100px;
    flex:1;

}

.pad1 { 
    background-color:crimson;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    align-items: center;
}
.pad2 {
    background-color:cornflowerblue;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    align-items: center;
}
.pad3 {
    background-color:palevioletred;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    align-items: center;
}
.pad4 {
    background-color:midnightblue;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    align-items: center;
}
.pad5 {
    background-color:darkseagreen;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    align-items: center;
}

.pad6 {
    background-color:cadetblue;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    align-items: center;
}
.pad7 {
    background-color:teal;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    align-items: center;
}
.pad8 {
    background-color:darkcyan;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    align-items: center;
}   
.pad9 {
    background-color:mediumaquamarine;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    align-items: center;
} 